<div class="panel panel-default">
  <div class="panel-heading">商品カテゴリー</div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <ul id="category-list" class="nav navbar-nav side-nav">
        <%= render partial: 'taxonomy', collection: taxonomies %>
      </ul>
    </div>
  </div>
</div>
