<div class="panel panel-default filterNormal">
  <div class="panel-heading">サイズから探す</div>
  <div class="panel-body">
    <ul id="size-list" class="list-unstyled clearfix">
      <% option_type.value_name("Size").each do |size| %>
        <li>
          <%= link_to potepan_category_path(filter_taxon.id, size: size) do %>
            <%= size %>
            <%= tag.span "(#{ProductSearchForm.new(taxon: filter_taxon, size: size).search.unscope(:includes, :order).size.length})" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
