<div class="panel panel-default filterNormal">
  <div class="panel-heading">色から探す</div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <% option_type.value_name("Color").each do |color| %>
        <li>
          <%= link_to potepan_category_path(filter_taxon.id, color: color) do %>
            <%= color %>
            <%= tag.span "(#{ProductSearchForm.new(taxon: filter_taxon, color: color).search.unscope(:includes, :order).size.length})" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
