<div id="add_to_cart" class="btn-area">
  <%= link_to potepan_cart_page_path do %>
    <div class="btn btn-primary btn-block">
      カートへ入れる
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </div>
  <% end %>
</div>
