<div class="row featuredCollection">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>人気カテゴリー</h4>
    </div>
  </div>
  <div class="col-sm-4 col-xs-12" style="display: -webkit-box;">
    <%= render partial: 'hot_taxon', collection: hot_taxons %>
  </div>
</div>
