<%= render 'banner' %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent cleatfix">
  <div class="container">
    <%= render 'popular_categories', hot_taxons: @hot_taxons %>
    <%= render 'new_products', new_products: @new_products %>
  </div>
</section>
<!-- LIGHT SECTION -->
<%= render 'layouts/footer_light' %>
